$principal: #ffce12;
$oscuro: #2b2c2e;
$texto: #666666;
$claro: white;

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
