body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__input {
  display: flex;
  align-items: center;
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #2b2c2e;
  padding-left: 5px;
}
.header__input input {
  height: 30px;
  border: none;
  outline: none;
  padding: 0 0 0 10px;
  font-size: 1em;
}
.header__logo img {
  width: 200px;
  height: auto;
}
.header .navbar__menu {
  display: flex;
  list-style: none;
}
.header .navbar__menu li {
  margin: 5px;
}
.header .navbar__menu a {
  color: #2b2c2e;
  text-decoration: none;
}
.header .navbar__menu ul {
  background-color: red;
  padding: 0;
}

.content {
  display: flex;
}
.content .menu {
  width: 200px;
  text-align: center;
}
.content .menu ul {
  list-style: none;
  padding: 0;
}
.content .menu ul li {
  margin: 10px 0;
}
.content .menu ul li a {
  color: black;
}
.content .menu h3 {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
.content .products {
  width: 100%;
}
.content .products__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 0 30px 30px 30px;
}

.item {
  text-align: center;
  padding: 0 0 20px 0;
  border: 1px solid gray;
  border-radius: 5px;
}
.item img {
  max-width: 100%;
  height: auto;
}
.item p {
  font-size: 1.5em;
}
.item a {
  background-color: #042a46;
  color: white;
  width: 100%;
  padding: 10px 50px;
  font-weight: 900;
  border-radius: 5px;
  text-transform: uppercase;
}

.active {
  background-color: red;
}

.mostrar {
  display: none;
}

.carrito {
  border: 1px solid black;
  width: 300px;
  position: absolute;
  left: -280px;
  top: 17px;
  background-color: white;
  display: none;
  padding: 10px 5px 10px 0;
}
.carrito .table {
  width: 100%;
  padding: 10px;
  text-align: center;
}
.carrito .table td a {
  margin-left: 5px;
}
.carrito__footer {
  display: flex;
  justify-content: center;
}
.carrito #vaciar-carrito {
  background-color: red;
  color: white;
  padding: 10px;
}
.carrito #procesar-pedido {
  background-color: green;
  color: white;
  padding: 10px;
  margin-left: 10px;
}

.navbar__menu li:nth-of-type(4) {
  position: relative;
}
.navbar__menu li:nth-of-type(4):hover .carrito {
  display: block;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  background-color: #042a46;
  font-weight: 300;
  color: white;
  justify-content: space-around;
  font-size: 0.8em;
}
.footer li {
  margin: 5px 0;
}
.footer li i {
  margin-right: 3px;
}
.footer a {
  color: white;
}
.footer__contact {
  grid-column: 1;
}
.footer__tienda {
  grid-column: 2;
}
.footer__social {
  grid-column: 3;
}
.footer__by {
  grid-column: 1/-1;
  text-align: center;
}

.container {
  width: 70%;
  margin: auto;
}
.container .compra__titulo {
  text-align: center;
}
.container .compra .form__cliente {
  margin: 10px 0;
}
.container .compra .form__email {
  margin: 15px 0 40px 0;
}
.container .compra .form input {
  width: 70%;
  height: 30px;
  margin-left: 10px;
}
.container .compra .form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.container .compra .form__btn--volver a {
  color: white;
  padding: 10px;
  background-color: blue;
  margin-right: 20px;
  border-radius: 5px;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px black;
}
.container .compra .form__btn--comprar button {
  background-color: green;
  color: white;
  padding: 10px;
  font-size: 1em;
  font-weight: 600;
  box-shadow: 1px 1px 3px 1px black;
  border: none;
}
.container .compra__tabla--tabla tr {
  text-align: center;
}
.container .compra__tabla--tabla th {
  padding: 0 30px;
}
.container .compra__tabla--tabla a {
  color: red;
}

/*# sourceMappingURL=style.css.map */
